@model HealthcareProject.Models.MonthlyReport

@{
    ViewData["Title"] = "Create";
}


<h4>MonthlyReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p> Select Date</p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReportMonth" class="control-label"></label>
                <input asp-for="ReportMonth" class="form-control" type="date" />
                <span asp-validation-for="ReportMonth" class="text-danger"></span>
            </div>


            <input type="submit" value="Get Monthly Report" class="btn btn-primary" />



        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}