@model HealthcareProject.Models.MonthlyReport

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MonthlyReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReportMonth" class="control-label"></label>
                <input asp-for="ReportMonth" class="form-control" />
                <span asp-validation-for="ReportMonth" class="text-danger"></span>
            </div>


            <input type="submit" value="Get Monthly Report" class="btn btn-primary" />


          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
