@model HealthcareProject.Controllers.DailyReportsController.Report

@{
    ViewData["Title"] = "Get Report";
}



<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p> Select Date</p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <div class="form-group">
                    <label asp-for="ReportDate" class="control-label"></label>
                    <input asp-for="ReportDate" class="form-control" type="date"/>
                    <span asp-validation-for="ReportDate" class="text-danger"></span>
                </div>


                <input type="submit" value="Get Daily Report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}