
@{
    ViewData["Title"] = "AppointmentExists";
}

<h1 class=" text-danger">AppointmentExists</h1>

<p>You already have an appointment setup! You can only have one appointment at a time! Please delete the one you have if you want to get new appointment</p>

<div>
    <a asp-action="Index">Back to Appointments</a>
</div>


