@{
    ViewData["Title"] = "Privacy Policy";
}


<p>Your personal and medical information is secure with us!</p>
<p>We will never sell your data to third party, and your medical information will be stored and shared according to HIPAA</p>
