@model HealthcareProject.Models.VisitRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VisitRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VisitReason" class="control-label"></label>
                <input asp-for="VisitReason" class="form-control" />
                <span asp-validation-for="VisitReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription" class="control-label"></label>
                <input asp-for="Prescription" class="form-control" />
                <span asp-validation-for="Prescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitid" class="control-label"></label>
                <input asp-for="Visitid" class="form-control" />
                <span asp-validation-for="Visitid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visited" /> @Html.DisplayNameFor(model => model.Visited)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

